.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
}
.carrito-suma {
  background-color: white;
  border-radius: 10px;
  padding-right: 7px;
  padding-left: 6px;
}
.carrito-invisible {
  display: none;
}
.navbar .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar .category {
  margin: 0 10px;
  color: white;
}

.link {
  color: black;
  text-decoration: none;
}

.link-active {
  color: #0093de;
  font-weight: bold;
}

.navbar li:hover {
  border-bottom: 3px solid white;
}

.cart {
  background-color: #0093de;
}
.logo {
  color: #0093de;
  text-decoration: none;
}
/* .contador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.numero {
  margin: 0 10px;
} */
