.navbar {
    background-color: #c2c2c2;
    
}

.navbar-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.navbar-container li {
    list-style: none;
    margin: 0 10px;
    color: #000;
    border-bottom: 3px solid transparent;
}

.navbar-container li:hover {
    border-bottom: 3px solid red;
}

.contador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.numero {
    margin: 0 10px;

}